//481px
//641px
//961px
//1025px
//1281px

.leaderboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 0px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    table {
      width: 100%;
      min-width: unset;
    }
  }

  @media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    table {
      width: 50%;
      min-width: unset;
    }
  }

  .mat-column-rank {
    white-space: nowrap;
  }

  .mat-column-level {
    width: 5%;
    padding: 0;
  }
  .mat-column-view-team {
    width: 15%;
    padding: 0;
  }
}
