.home-streamer-container,
.home-viewer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
}

.home-viewer-container:before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 60"><text x="0" y="25" fill="white">Nothing To See Here ;)</text></svg>')
    0 0/300px 70px;
}

.home-streamer-container {
  margin: 0;
  box-sizing: border-box;
  //overflow: hidden;
}

.abs-info {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 260px;
  text-align: center;
}

#black {
  //height: 100vh;
  background-color: #111;
}

#dvd {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 300px;
  mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
  -webkit-mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

.crippy-help {
  position: absolute;
  bottom: 0;
  right: 50px;
  .crippy-img {
    width: 400px;
    height: 400px;
  }
}

.monkeyd {
  background-image: url("https://res.cloudinary.com/dsmddewxs/image/upload/v1669620031/streamer-home/MONKEYDRAMA.png");
  background-repeat: repeat;
  //z-index: 1;
  position: relative;
  height: 100%;
  background-size: 300px 400px;
  width: 100%;
  top: 0;
}
