<ng-container [style.visibility]="showPage ? 'visible' : 'hidden'">
  <section
    #streamerEl
    class="home-streamer-container"
    *ngIf="
      (twitchUser$ | async)?.displayName?.toLowerCase() === allowedStreamer;
      else viewerMode
    "
  >
    <div class="monkeyd"></div>
    <section style="background-color: black; padding: 10px" class="abs-info">
      <p>Username: {{ (twitchUser$ | async)?.displayName || "N/A" }}</p>
      <p>Scope: {{ (twitchUser$ | async)?.scope?.length || "N/A" }}</p>
      <p>Roles: {{ (twitchUser$ | async)?.roles || "N/A" }}</p>
      <p>Development: {{ isDevMode }}</p>
      <!--  <p>API Url: {{ apiUrl }}</p>-->
      <!--  <p>Site Url: {{ siteUrl }}</p>-->
      <button mat-raised-button (click)="onDisableQuack()">
        DISABLE QUACKS!
      </button>
      <p style="color: red">
        Don't Touch The Buttons Below Unless You Know What You're Doing
      </p>
      <button
        style="margin-bottom: 5px"
        mat-raised-button
        (click)="onCreateChannelRedemptions()"
      >
        Create Channel Point Rewards
      </button>
      <button
        mat-raised-button
        style="margin-bottom: 5px"
        (click)="onEnableChannelRedemptions()"
      >
        Enable Bot Channel Point Rewards
      </button>
      <button
        mat-raised-button
        style="margin-bottom: 5px"
        (click)="onDisableChannelRedemptions()"
      >
        Disable Bot Channel Point Rewards
      </button>
    </section>

    <div #blackEl id="black">
      <div #dvdEl id="dvd"></div>
    </div>
  </section>

  <section *ngIf="showClippy" class="crippy-help" @crippyTrigger>
    <section style="background-color: black">
      <h1>Sup it's crip-py</h1>
      <h1>Check out this tutorial cuh</h1>
      <h1>
        <a
          target="_blank"
          rel="noopener noreferrer"
          style="background-color: red"
          href="https://youtu.be/Fe6M4W9JC6I"
          >(CLICK HERE)DISABLE QUACK TUTORIAL!!!! (CLICK HERE)</a
        >
      </h1>
    </section>

    <img
      class="crippy-img"
      alt="crippy"
      src="https://res.cloudinary.com/dsmddewxs/image/upload/v1669612095/streamer-home/crippy.png"
    />
  </section>

  <ng-template #viewerMode>
    <section class="home-viewer-container"></section
  ></ng-template>
</ng-container>
