<mat-form-field
  class="search-field"
  color="accent"
  appearance="fill"
  hideRequiredMarker="true"
  floatLabel="auto"
>
  <!--  <mat-label>Search for teams</mat-label>-->
  <!--  <mat-icon color="accent" matPrefix>search</mat-icon>-->
  <input
    matInput
    placeholder="Simple placeholder"
    required
    style=""
    type="search"
  />
</mat-form-field>

<!--<div class="example-container">-->
<!--  <form [formGroup]="options">-->
<!--    <div class="example-form-fields">-->
<!--      <mat-form-field-->
<!--        appearance="fill"-->
<!--        [hideRequiredMarker]="true"-->
<!--        [floatLabel]="'auto'"-->
<!--      >-->
<!--        <input matInput placeholder="Simple placeholder" required />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="fill" [floatLabel]="'auto'">-->
<!--        <mat-label>Both a label and a placeholder</mat-label>-->
<!--        <input matInput placeholder="Simple placeholder" />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field-->
<!--        appearance="fill"-->
<!--        [hideRequiredMarker]="true"-->
<!--        [floatLabel]="'auto'"-->
<!--      >-->
<!--        <mat-label-->
<!--          ><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label-->
<!--        >-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
