.pokemon-team-container {
  .search-field {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .submit-button {
      margin-top: 5px;
    }

    @media (min-width: 0px) {
      mat-form-field {
        width: 60vw;
      }
    }

    @media (min-width: 961px) {
      mat-form-field {
        width: 25vw;
      }
    }
  }

  mat-form-field {
    width: 25vw;
  }
  // todo make this the same everywhere containers, also when to use margin over padding
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //flex-wrap: wrap;

  .pokemon-cards {
    @media (min-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1800px) {
      grid-template-columns: repeat(3, 1fr);
    }
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
    display: grid;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 3em;

    .card:after {
      opacity: 1;
      background-image: url("https://res.cloudinary.com/dsmddewxs/image/upload/v1669094234/pokemon/card-bgs/sparkles.gif"),
        url(https://res.cloudinary.com/dsmddewxs/image/upload/v1669094231/pokemon/card-bgs/holo.webp),
        linear-gradient(
          125deg,
          #ff008450 15%,
          #fca40040 30%,
          #ffff0030 40%,
          #00ff8a20 60%,
          #00cfff40 70%,
          #cc4cfa50 85%
        );
      background-position: 50% 50%;
      background-size: 160%;
      background-blend-mode: overlay;
      z-index: 2;
      filter: brightness(1) contrast(1);
      transition: all 0.33s ease;
      //mix-blend-mode: color-dodge;
    }
    // Brighter glitter
    .card.active:after,
    .card:hover:after {
      filter: brightness(1) contrast(1);
      opacity: 1;
    }

    .card:hover {
      transform: scale3d(1.04, 1.04, 1.04);
      box-shadow: -5px 0px 33px -5px var(--card-color),
        0px 0px 40px -5px var(--card-color), -7px -7px 5px -5px transparent,
        7px 7px 10px -5px transparent, 0 0 10px 0px rgba(255, 255, 255, 0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
    }

    @keyframes card-glare {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 50% 50%;
      }
    }
    .card:before,
    .card:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-repeat: no-repeat;
      opacity: 0.5;
      mix-blend-mode: color-dodge;
      transition: all 0.33s ease;
    }

    .card:before {
      animation-name: card-glare;
      animation-duration: 2s;
      background-position: 50% 50%;
      background-size: 300% 300%;
      background-image: linear-gradient(
        115deg,
        transparent 0%,
        var(--card-color) 25%,
        transparent 47%,
        transparent 53%,
        var(--card-color) 75%,
        transparent 100%
      );
      opacity: 0.5;
      filter: brightness(0.5) contrast(1);
      z-index: 1;
    }

    .card {
      // Exact image height & width
      height: 480px;
      width: 330px;
      position: relative;

      //////////////////
      overflow: hidden;
      z-index: 10;
      touch-action: none;
      border-radius: 5% / 3.5%;
      box-shadow: 0px -1px 17px -5px var(--card-color),
        0px -1px 20px -5px var(--card-color), -7px -7px 5px -5px transparent,
        7px 7px 10px -5px transparent, 0 0 10px 0px rgba(255, 255, 255, 0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
      transition: transform 0.5s ease, box-shadow 0.2s ease;
      will-change: transform, filter;
      background-color: #040712;
      background-image: var(--front);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform-origin: center;
      //////////////////
      .card-bg:after {
        background-color: #fff;
        width: 100%;
      }
      .pokemon-art {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
      }
      .owner {
        position: absolute;
        top: 457px;
        left: 13px;
        font-size: 10px;
        font-family: "Electrolize-Regular", sans-serif;
        font-weight: 600;
      }
      .shiny {
        z-index: 100;
        position: absolute;
        width: 50px;
        height: 44px;
        top: 0;
        left: 283px;
      }
      .card-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 399px;
        left: 9px;
        width: 310px;
        height: 52px;
        .slot-num {
          display: flex;
          position: absolute;
          top: 10px;
          white-space: nowrap;
          color: black;
          font-family: "Electrolize-Regular", sans-serif;
          font-weight: 600;
          font-size: 20px;
        }
        .button-row {
          display: flex;
          justify-content: space-between;
          z-index: 100;
          button {
            font-size: 16px;
            z-index: 100;
            margin: 0 45px;
            height: 40px;
            width: 100px;
          }
        }
      }
      .card-header {
        box-shadow: 0 0 40px 5px var(--card-color);
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 24px;
        left: 26px;
        width: 265px;
        height: 37px;

        .title-right {
          display: flex;
          margin-right: 5px;
          white-space: nowrap;
          text-shadow: -3px 0px 20px var(--card-color),
            3px 0px 20px var(--card-color), 0px 0px 20px var(--card-color),
            3px 3px 20px var(--card-color), 0px 3px 20px var(--card-color);
          color: black;
          font-family: "Electrolize-Regular", sans-serif;
          font-weight: 600;
          font-size: 20px;
        }
        .title-left {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;

          .name {
            text-shadow: -3px 0px 20px var(--card-color),
              3px 0px 20px var(--card-color), 0px 0px 20px var(--card-color),
              3px 3px 20px var(--card-color), 0px 3px 20px var(--card-color);
            color: black;
            font-weight: 600;
            font-size: 20px;
          }
          .gender-icon {
            z-index: 100;
            margin-left: 5px;
            color: var(--poke-color);
            font-weight: 600;
            font-size: 25px;
          }
        }
      }
    }
  }
}
