<section class="pokemon-team-container">
  <section class="search-field">
    <mat-form-field
      color="accent"
      appearance="outline"
      [hideRequiredMarker]="true"
      floatLabel="auto"
      (keyup.enter)="onSubmitCancel()"
    >
      <mat-label>Enter Twitch Username...</mat-label>
      <input matInput type="text" [formControl]="username" name="search-user" />
      <button
        color="accent"
        *ngIf="username.value !== ''"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="errored = false; searchTimeReady = true; username.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      class="submit-button"
      color="accent"
      [disabled]="loading || !searchTimeReady || username.value === ''"
      *ngIf="username"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSubmitCancel()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </section>
  <p style="color: red" *ngIf="errored">No teams found for user</p>
  <section class="pokemon-cards" [style.visibility]="loading ? 'hidden' : ''">
    <section
      *ngFor="let pokemon of userPokemon; let indexCard = index"
      class="card"
      [id]="'card-' + indexCard"
      [style.--card-color]="
        !pokemon.color
          ? 'white'
          : pokemon.color === 'Gray' || pokemon.color === 'Black'
          ? 'darkslategray'
          : pokemon.color === 'Pink'
          ? 'deeppink'
          : pokemon.color
      "
    >
      <section [hidden]="!pokemon.name">
        <section class="card-header">
          <section class="title-left">
            <span class="name">{{ pokemon.name }}</span>
            <mat-icon
              [matTooltip]="
                pokemon.gender === 'M'
                  ? 'Gender: Male'
                  : pokemon.gender === 'F'
                  ? 'Gender: Female'
                  : 'Gender: None'
              "
              [style.--poke-color]="
                pokemon.color === 'Pink'
                  ? 'deeppink'
                  : pokemon.color === 'Gray'
                  ? 'darkslategray'
                  : pokemon.color
              "
              class="gender-icon"
              >{{
                pokemon.gender === "M"
                  ? "male"
                  : pokemon.gender === "F"
                  ? "female"
                  : "polymer"
              }}</mat-icon
            >
          </section>
          <span class="title-right">LVL {{ pokemon.level }}</span>
        </section>
        <img
          *ngIf="pokemon.shiny"
          [matTooltipClass]="'global-shiny-tooltip'"
          [matTooltip]="
            'SHINY GET!!!' +
            (pokemon.shinyImgNotFound === true
              ? '\n The shiny FEMALE variant of this pokemon is not available. Showing default instead'
              : '')
          "
          class="shiny"
          alt="shiny"
          src="https://res.cloudinary.com/dsmddewxs/image/upload/v1669012113/pokemon/card-bgs/sunshine_spin.gif"
        />
        <section class="card-footer">
          <span class="slot-num">SLOT {{ pokemon.slot }}</span>
          <section class="button-row">
            <button
              mat-raised-button
              color="primary"
              (click)="openPokeMoves(pokemon.moves, indexCard)"
            >
              Moves
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="openPokeStats(pokemon, indexCard)"
            >
              Details
            </button>
          </section>
        </section>
        <section class="owner">Owner: {{ teamOwner }}</section>
        <img class="pokemon-art" alt="pokemon" [src]="pokemon.cardPokemonUrl" />
        <img class="card-bg" alt="pokemon" [src]="pokemon.cardBgUrl" />
      </section>
      <section [hidden]="pokemon.name">
        <section class="card-header">
          <section class="title-left" style="justify-content: center">
            <span class="name" style="text-align: center"
              >No Pokemon In Slot</span
            >
          </section>
        </section>
        <section class="card-footer" (mousemove)="$event.stopPropagation()">
          <span class="slot-num">SLOT {{ pokemon.slot }}</span>
        </section>
        <img class="pokemon-art" alt="pokemon" [src]="pokemonNotFoundUrl" />
        <img class="card-bg" alt="card-bg" [src]="backgroundNotFoundUrl" />
      </section>
    </section>
  </section>
</section>
