.stream-overlay-container {
  background: rgba(0, 0, 0, 0);
  //background: #313131;
  //background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// Good in this situation, keep full screen regardless of router config
:host {
  flex: 1 1 auto;
}

p {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

.scroll {
  position: relative;
  width: 90vw;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(22 25 28);
  height: 90px;
  background-color: rgba(#252525, 0.8);
  overflow: hidden;
  z-index: 1;
  padding: 0;
  margin: auto auto 100px auto;
  color: white;
  font-family: "Electrolize-Regular", sans-serif;
  font-weight: 600;
  font-size: 50px;
  opacity: 0;
}

//span {
//  align-items: center;
//  font-size: 50px;
//  display: inline-flex;
//  padding: 0;
//  overflow: hidden;
//  height: 100%;
//  white-space: nowrap;
//  color: white;
//  margin-left: 110%;
//  //animation: move 60s infinite linear;
//}

.marquee {
  align-items: center;
  font-size: 50px;
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  color: white;
  transform: translateX(1730px);
  margin: 0;
}
