<section class="battle-container" *ngIf="!loading">
  <section class="battle-1v1">
    <h2 style="white-space: pre" *ngIf="starterOutcome">
      Most Recent 1v1 Outcome:
    </h2>
    <p style="white-space: pre" *ngIf="starterOutcome">{{ starterOutcome }}</p>
    <h2 style="white-space: pre" *ngIf="!starterOutcome">
      No 1v1 Outcomes Found
    </h2>
  </section>
  <mat-divider
    style="color: white; height: auto; width: 20px; border-right-width: 3px"
    [vertical]="true"
  ></mat-divider>
  <section class="team-battle">
    <h2 style="white-space: pre" *ngIf="teamOutcome">
      Most Recent Team Battle Outcome:
    </h2>
    <p style="white-space: pre" *ngIf="teamOutcome">{{ teamOutcome }}</p>
    <h2 style="white-space: pre" *ngIf="!teamOutcome">
      No Team Outcomes Found
    </h2>
  </section>
</section>
