.battle-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  line-height: 30px;

  // Doing this makes content go offscreen when resizing to small width. Why?
  //justify-content: center;

  .battle-1v1 {
    margin-left: auto;
    margin-right: auto;
  }
  .team-battle {
    margin-left: auto;

    margin-right: auto;
  }
}
