<!-- Hide App Container Styles For Stream Overlay And Login Since We Need Transparent Background-->
<div [ngClass]="!isTwitchOverlay ? 'app-container' : 'stream-container'">
  <app-nav-header
    (sidenavButtonClicked)="toggleSidenav()"
    *ngIf="!hideHeaderAndSideNav"
  ></app-nav-header>
  <mat-sidenav-container
    *ngIf="!hideHeaderAndSideNav; else renderApp"
    class="side-nav-container"
    hasBackdrop="false"
  >
    <mat-sidenav mode="side" [opened]="sideNavOpen" class="side-nav">
      <section class="category" *ngFor="let category of categories">
        <section *ngIf="category.type === 'Group'">
          <p
            style="
              padding: 0 12px 4px;
              margin: 0;
              font: 400 16px/32px Electrolize-Regular, sans-serif;
              line-height: 22px;
            "
          >
            {{ category.groupName }}
          </p>
        </section>
        <section
          class="subcategory"
          *ngFor="let subcat of category.subcategories"
        >
          <button
            class="subcat-btn"
            [ngClass]="currentRouteUrl === subcat.route ? 'btn-hover' : ''"
            mat-button
            color="accent"
            [routerLink]="subcat.route"
          >
            <mat-icon>{{ subcat.iconName }}</mat-icon>
            <span style="font-weight: 400">{{ subcat.title }}</span>
          </button>
        </section>
      </section>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-template #renderApp>
    <router-outlet></router-outlet>
  </ng-template>
</div>
