<div
  [@fadeIn]="state"
  (@fadeIn.done)="onDone()"
  [style.backgroundImage]="currentImage"
  id="home"
  [style.visibility]="!loading ? 'visible' : 'hidden'"
  class="pt-5"
>
  <div #loginBtn id="loginBtn">
    <a
      (mouseover)="btnHovered = true"
      (mouseleave)="btnHovered = false"
      [href]="twitchLoginUrl"
      *ngIf="
        (twitchUserStatus$ | async) === null && (loading$ | async) === false
      "
    >
      <button mat-button color="blue">
        <span [style.visibility]="btnHovered ? 'visible' : 'hidden'">
          Login
        </span>
      </button>
    </a>
  </div>
</div>
