mat-toolbar {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(22, 25, 28, 0.3);
  position: relative;
  z-index: 10;
  padding: 0 8px;
  justify-content: space-between;
  .header-left {
    display: flex;
    align-items: center;
    .title {
      margin-left: 6px;
      cursor: pointer;
      font-family: "Electrolize-Regular", sans-serif;
      font-weight: 500;
      font-size: 30px;
    }
    button {
      margin: 0;
      padding: 0;
    }
  }
}
