<mat-toolbar color="primary">
  <span>Brobot</span>
  <span class="fill-remaining-space"></span>
  <a [href]="twitchLoginUrl">
    <button mat-button color="red" *ngIf="!isAuthenticated">Login</button>
  </a>
  <a [href]="twitchStreamerLoginUrl">
    <button
      mat-button
      color="red"
      *ngIf="
        isAuthenticated &&
        (twitchUser$ | async)?.displayName?.toLowerCase() === allowedStreamer
      "
    >
      Login Streamer
    </button>
  </a>
  <a [href]="twitchBotLoginUrl">
    <button
      mat-button
      color="red"
      *ngIf="
        isAuthenticated &&
        (twitchUser$ | async)?.displayName?.toLowerCase() === allowedBot
      "
    >
      Login Bot
    </button>
  </a>
  <button mat-button color="red" (click)="logout()" *ngIf="isAuthenticated">
    Logout
  </button>
</mat-toolbar>
