<mat-toolbar color="primary">
  <!--  todo click on brobot title + icon to bring to home or login depending on auth-->
  <span>Brobot</span>
  <span class="fill-remaining-space"></span>
  <!--  <a [href]="twitchLoginUrl">-->
  <!--    <button mat-button color="red" *ngIf="!isAuthenticated">Login</button>-->
  <!--  </a>-->
  <ng-container *ngIf="isAuthenticated">
    <a [href]="twitchStreamerLoginUrl">
      <button
        mat-button
        color="red"
        *ngIf="
          (twitchUser$ | async)?.displayName?.toLowerCase() === allowedStreamer
        "
      >
        Login Streamer
      </button>
    </a>
    <a [href]="twitchBotLoginUrl">
      <button
        mat-button
        color="red"
        *ngIf="(twitchUser$ | async)?.displayName?.toLowerCase() === allowedBot"
      >
        Login Bot
      </button>
    </a>
    <button mat-button color="red" (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
