<mat-toolbar color="primary">
  <section class="header-left">
    <button mat-icon-button (click)="sidenavButtonClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title" (click)="navHome()">bro_bot</span>
  </section>
  <section
    class="header-right"
    *ngIf="(twitchUserStatus$ | async) && (loading$ | async) === false"
  >
    <a [href]="twitchStreamerLoginUrl">
      <button
        mat-button
        color="accent"
        *ngIf="
          (twitchUserStatus$ | async)?.displayName?.toLowerCase() ===
          allowedStreamer
        "
      >
        Login Streamer
      </button>
    </a>
    <a [href]="twitchBotLoginUrl">
      <button
        mat-button
        color="accent"
        *ngIf="
          (twitchUserStatus$ | async)?.displayName?.toLowerCase() === allowedBot
        "
      >
        Login Bot
      </button>
    </a>
    <button mat-button color="accent" (click)="logout()">Logout</button>
  </section>
</mat-toolbar>
