// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@font-face {
  font-family: "Electrolize-Regular";
  src: url("assets/fonts/Electrolize-Regular.ttf") format("truetype");
}

$app-primary: (
  50: red,
  100: red,
  200: red,
  300: red,
  400: red,
  500: #0f0f0f,
  600: #0d0d0d,
  700: #0b0b0b,
  800: #080808,
  900: #040404,
  A100: red,
  A200: red,
  A400: red,
  A700: red,
  contrast: (
    50: red,
    100: red,
    200: red,
    300: red,
    400: red,
    500: #f1f1f1,
    600: red,
    700: red,
    800: red,
    900: red,
    A100: red,
    A200: red,
    A400: red,
    A700: red,
  ),
);

$app-accent: (
  50: #f1f1f1,
  100: #f1f1f1,
  200: #f1f1f1,
  300: #f1f1f1,
  400: #f1f1f1,
  500: #f1f1f1,
  600: #f1f1f1,
  700: #f1f1f1,
  800: #f1f1f1,
  900: #f1f1f1,
  A100: #f1f1f1,
  A200: #f1f1f1,
  A400: #f1f1f1,
  A700: #f1f1f1,
  contrast: (
    50: blue,
    100: blue,
    200: blue,
    300: blue,
    400: blue,
    500: blue,
    600: blue,
    700: blue,
    800: blue,
    900: blue,
    A100: blue,
    A200: blue,
    A400: blue,
    A700: blue,
  ),
);

//font-family: "Electrolize-Regular", sans-serif;
//font-weight: 500;

$h1-level: mat.define-typography-level(
  $font-family: "Electrolize-Regular",
  $font-weight: 500,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);
$app-typography: mat.define-typography-config(
  // Specify "Comic Sans" as the default font family for all levels.
  $font-family: "Electrolize-Regular",
  $headline-5: $h1-level
);
$my-app-primary: mat.define-palette($app-primary);
$my-app-accent: mat.define-palette($app-accent, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
    // Font/styles for material components
    typography: $app-typography,
    //density: 0,,,,,,,,,,,,,
  )
);

//// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

h1,
h2,
p {
  color: mat.get-color-from-palette($my-app-accent, 500);
}
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);
//@include mat.all-legacy-component-themes($dark-theme);

// Define a light theme
//$light-theme: mat.define-light-theme(
//  (
//    color: (
//      primary: mat.define-palette(mat.$indigo-palette),
//      accent: mat.define-palette(mat.$pink-palette),
//    ),
//  )
//);
//
//// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.legacy-core-color($light-theme);
//  @include mat.legacy-button-color($light-theme);
//}
//
//.lightMode {
//  @include mat.all-legacy-component-colors($light-theme);
//}
