html,
body {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}

.bottom-sheet-audio-backdrop {
  background-color: #0f0f0f;
}

.mat-bottom-sheet-container {
  background-color: #1f1f1fff;
}

.poke-stats-dialog {
  .mat-mdc-dialog-surface {
    background-color: rgb(0 0 0 / 50%);
  }
}

.global-shiny-tooltip {
  white-space: pre-line;
  display: none;
  color: red;
  background-color: green;
}

* {
  font-family: "Electrolize-Regular", sans-serif;
}

//router-outlet ~ * {
//  box-sizing: border-box;
//}
